@import "tailwindcss";

@theme {
  --color-background: #859271;
  --color-primary: #9dac85;
  --color-secondary: #bfc9b0;
  --color-active: #737e61;
  --color-light: #d3dac8;
  --color-black: #11130f;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
}
body {
  background-color: #859271;
}
.button-secondary {
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
  background-color: #d3dac8;
  color: #272B21;
  font-weight: 500;
}
.button-primary {
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
  background-color: #9dac85;
  color: #11130f;
  font-weight: 500;
}
body {
  margin: 12px;
}
